
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
:root {
  --logo-initial-color: #242933;
  --vivo-blue: #415fff;
  --background-white:#FEFEFE;
  --background-white-2:#F5F7FA;
  --footer-bg:#242933;
  --text-grey:#8A8F99;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
  overflow-x: hidden;
}
body {
  width: 100vw;
  background-color: var(--background-white)
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
/* navbar-start */
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 13rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-white);
  height: 5.375rem;
  position: fixed;
  z-index: 10000;
}
/* logo */
.logo-div{
  width: 5.7rem;
}
svg{
  width: 100%;
}
.logo-div #common-path {
  fill: var(--logo-initial-color);
  transition: fill 0.4s ease-in; 
}
.logo-div:hover #common-path {
  fill: var(--vivo-blue);
}
/* sectionids */
.sectionids-ul {
  display: flex;
  flex-direction: row;
  transition: color 0.4s;
}
.sectionids-ul li {
  padding: 0 1.25vw;
}
.sectionids-ul li a {
  font-size: 14px;
  color: var(--logo-initial-color);
  transition: color 0.2s ease 0s;
}
.sectionids-ul li a:hover {
  color: var(--vivo-blue);
}
/* icons-nav */
.icon-div ul{
  display: flex;
  flex-direction: row;
}
.icon-div ul li{
  padding: 0 1.2vw;
}
.icon-div ul li svg {
  width: 24px; 
  transition: fill 0.3s; 
}
.icon-div ul li:hover #common-path {
  fill: var(--vivo-blue);
}
/* navbar-end */
:root {
    --main-text-color: #575C66;
    --secondary-text-color: #242933;
    --background-color: #fff;
    --accent-color: #415fff;
    --body-background-color: #f5f7fa;
}
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

:root {
  --logo-initial-color: #242933;
  --vivo-blue: #415fff;
  --background-white:#FEFEFE;
  --background-white-2:#F5F7FA;
  --footer-bg:#242933;
  --text-grey:#8A8F99;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
  overflow-x: hidden;
}
body {
  width: 100vw;
  background-color: var(--background-white)
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* navbar-start */

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 13rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-white);
  height: 5.375rem;
  position: fixed;
  z-index: 10000;
}

/* logo */

.logo-div{
  width: 5.7rem;
}
svg{
  width: 100%;
}
.logo-div #common-path {
  fill: var(--logo-initial-color);
  transition: fill 0.4s ease-in; 
}

.logo-div:hover #common-path {
  fill: var(--vivo-blue);
}
/* sectionids */

.sectionids-ul {
  display: flex;
  flex-direction: row;
  transition: color 0.4s;
}
.sectionids-ul li {
  padding: 0 1.25vw;
}
.sectionids-ul li a {
  font-size: 14px;
  color: var(--logo-initial-color);
  transition: color 0.2s ease 0s;
}
.sectionids-ul li a:hover {
  color: var(--vivo-blue);
}

/* icons-nav */
.icon-div ul{
  display: flex;
  flex-direction: row;
}
.icon-div ul li{
  padding: 0 1.2vw;
}
.icon-div ul li svg {
  width: 24px; 
  transition: fill 0.3s; 
}
.icon-div ul li:hover #common-path {
  fill: var(--vivo-blue);
}

/* navbar-end */
/* Global styles */
* {
    box-sizing: border-box;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: 0;
  
}

img {
    display: block;
    border: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

p {
    margin: 0;
}

div {
    outline: 0;
    
}

i {
    font-style: normal;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--body-background-color);
    overflow-x: hidden;
}

/* Content section styles */
.content .link {
    max-width: 100%;
    position: relative;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    cursor: pointer;
    padding-right: 46px;
}

.content .link span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: var(--secondary-text-color) !important;
    transition: color .4s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}



.content .link:before,
.content .link:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 28px;
    background: no-repeat center;
    background-size: 100% 100%;
    top: 0;
    right: 0;
    transition: opacity .4s;
}

.content .link:before {
    background-image: url(//asia-exstatic.vivoglobal.com/static/img/icon/link-arrow-right-nor_cceb6ef.svg);
}

.content .link:after {
    opacity: 0;
}

.content .link.link-vivo:after {
    background-image: url(//asia-exstatic.vivoglobal.com/static/img/icon/link-arrow-right-vivo-hover_b73f43c.svg);
}

.content .link.link-iqoo:after {
    background-image: url(//asia-exstatic.vivoglobal.com/static/img/icon/link-arrow-right-iqoo-hover_53bbd23.svg);
}

@media screen and (max-width:1599px) {
    .content .link {
        padding-right: 3vw;
    }

    .content .link span {
        font-size: medium;
        line-height: 2vw;
    }

    .content .link:before,
    .content .link:after {
        width: 2.5vw;
        height: 2vw;
    }
}

@media screen and (min-width:769px) {
    .content .link:hover span {
        color: var(--accent-color) !important;
    }

    .content .link:hover:before {
        opacity: 0;
    }

    .content .link:hover:after {
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    .content .link {
        padding-right: 8vw
    }

    .content .link span {
        font-size: 4vw;
        line-height: 5vw
    }

    .content .link:before,
    .content .link:after {
        width: 7vw;
        height: 5vw
    }
}

.content .top-section {
    position: relative;
    height: 900px;
    overflow: hidden
}

.content .top-section .top-img-box {
    height: 100%
}

.content .top-section .top-img-box img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.content .top-section .top-content-box {
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 208px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}


.content .top-section .top-content-box .title {
    margin-bottom: 24px;
    font-size: 60px;
    line-height: 76px;
    max-width: 700px;
    color: var(--secondary-text-color);
}

.content .top-section .top-content-box .auxiliaryTitle {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 80px;
    max-width: 575px;
    color: var(--secondary-text-color);
}

.content .content-wrap {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    margin: -192px auto 0;
    box-sizing: border-box;
    padding-bottom: 120px;
}

.content .content-wrap.margin-top {
    margin-top: 0 !important;
}

.content .content-wrap .photo-wrap {
    position: relative;
    padding-top: 50%;
    background: var(--background-color);
    border-radius: 24px;
    overflow: hidden;
}


.content .content-wrap .photo-wrap .left-box {
    max-width: 84.7%;
    position: absolute;
    left: 110px;
    top: 230px;
    opacity: 0;
    z-index: 1
}

.content .content-wrap .photo-wrap .left-box img {
    height: 36px;
    margin-bottom: 30px
}

.content .content-wrap .photo-wrap .right-box {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%
}

.content .content-wrap .photo-wrap .right-box img {
    width: 1036px;
    transform: translateY(-64px);
}


.content .content-wrap .news-wrap {
    margin-top: 120px
}

.content .content-wrap .news-wrap .news-head {
    text-align: center;
    font-size: 20px;
    line-height: 34px
}

.content .content-wrap .news-wrap .news-head .news-title {
    font-size: 40px;
    margin-bottom: 12px
}

.content .content-wrap .news-wrap .news-head .news-link {
    margin-top: 30px;
    justify-content: center;
}

.content .content-wrap .news-wrap ul {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .content-wrap .news-wrap ul li {
    overflow: hidden;
    border-radius: 24px;
    width: 31%;
    margin-top: 30px;
}

.content .content-wrap .news-wrap ul li a {
    display: block;
    height: 100%;
    position: relative;
    padding-top: 60%;
    background-color: var(--background-color);
    border-radius: 24px;
    overflow: hidden;
    opacity: 0;
}

.content .content-wrap .news-wrap ul li a .img-box {
    width: 460px;
    height: 276px;
    position: absolute;
    top: 0;
    left: 0
}

.content .content-wrap .news-wrap ul li a .img-box img {
    height: 100%
}

.content .content-wrap .news-wrap ul li a .content-box {
    padding: 29px 40px
}

.content .content-wrap .news-wrap ul li a .content-box .type {
    display: none;
}

.content .content-wrap .news-wrap ul li a .content-box .title {
    font-size: 20px;
    line-height: 24px;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
    display: box;
    box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
}


.content .content-wrap .news-wrap ul li a .content-box .date {
    font-size: 16px;
    line-height: 18px;
    color: var(--main-text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .content-wrap .news-wrap ul li a .content-box .date span:after {
    content: '·'
}

@media screen and (min-width:769px) {
    .content .content-wrap .news-wrap ul li:first-of-type {
        width: 100%;
        margin-top: 0
    }

    .content .content-wrap .news-wrap ul li:first-of-type a {
        width: 100%;
        display: block;
        padding-top: 39%;
        position: relative
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .img-box {
        position: absolute;
        width: 65%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .img-box img {
        height: 100%
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .content-box {
        position: absolute;
        width: 34%;
        padding: 110px 75px;
        height: 100%;
        right: 0;
        top: 0
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .content-box .content-box-div {
        position: relative;
        height: 100%
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .content-box .type {
        display: block;
        font-size: 20px;
        line-height: 28px;
        color: var(--secondary-text-color);
        margin-bottom: 2px;
        display: box;
        box-orient: vertical;
        line-clamp: 5;
        overflow: hidden;
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .content-box .title {
        font-size: 32px;
        line-height: 48px;
        color: var(--secondary-text-color);
        margin-bottom: 0;
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .content-box .date {
        position: absolute;
        width: 100%;
        bottom: auto;
        font-size: 20px;
        line-height: 28px
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .content-box .date span {
        display: none
    }
}

@media screen and (min-width:769px) {
    .content .content-wrap .news-wrap ul.pc-hide li {
        display: none
    }

    .content .content-wrap .news-wrap ul.pc-hide li:first-of-type {
        display: block
    }
}

.content .content-wrap .join-us {
    padding-top: 25%;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    margin-top: 120px;
}


.content .content-wrap .join-us img {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0
}

.content .content-wrap .join-us .text {
    max-width: 90%;
    position: absolute;
    top: 126px;
    left: 110px
}

.content .content-wrap .join-us .text p {
    font-size: 40px;
    line-height: 60px;
    color: var(--secondary-text-color);
    margin-bottom: 8px
}

.content .content-wrap .join-us .text a {
    font-size: 20px;
    line-height: 28px;
    color: var(--secondary-text-color)
}

.content .content-wrap .life-vivo {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.content .content-wrap .life-vivo>div {
    width: 48%;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--background-color)
}

.content .content-wrap .life-vivo>div .img {
    position: relative;
    padding-top: 51%;
}

.content .content-wrap .life-vivo>div .img img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}


.content .content-wrap .life-vivo>div .text {
    padding: 28px 40px 40px;
    text-align: center
}

.content .content-wrap .life-vivo>div .text .life-title {
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    color: var(--secondary-text-color);
    margin-bottom: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .content-wrap .life-vivo>div .text .life-sketch {
    display: block;
    font-size: 12px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 21px;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content .content-wrap .life-vivo>div .text a {
    justify-content: center;
}

@media screen and (max-width:1599px) {
    .content .top-section {
        height: 56vw;
    }

    .content .top-section .top-content-box {
        padding: 0 80px;
        top: 13vw;
        left: 0;
        transform: none;
    }
}

.content .top-section .top-content-box .title {
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 2vw;
    max-width: 29vw
}

.content .top-section .top-content-box .auxiliaryTitle {
    font-size: 1.3vw;
    line-height: 2vw;
    margin-bottom: 5vw;
    max-width: 26vw
}

.content .content-wrap {
    margin-top: -12vw;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 8vw
}

.content .content-wrap .life-vivo>div .text .life-title {
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    color: var(--secondary-text-color);
    margin-bottom: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .content-wrap .life-vivo>div .text .life-sketch {
    display: block;
    font-size: 12px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 21px;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content .content-wrap .life-vivo>div .text a {
    justify-content: center;
}

@media screen and (max-width:1599px) {
    .content .top-section {
        height: 56vw;
    }

    .content .top-section .top-content-box {
        padding: 0 80px;
        top: 13vw;
        left: 0;
        transform: none;
    }
}


.content .content-wrap .news-wrap {
    margin-top: 8vw
}

.content .content-wrap .news-wrap .news-head {
    font-size: 1vw;
    line-height: 2vw
}

.content .content-wrap .news-wrap .news-head .news-title {
    font-size: 3vw;
    margin-bottom: 1vw
}

.content .content-wrap .news-wrap ul {
    margin-top: 4vw
}

.content .content-wrap .news-wrap ul li {
    border-radius: 2vw;
    margin-top: 2vw;
}

.content .content-wrap .news-wrap ul li a {
    border-radius: 2vw;
}

.content .content-wrap .news-wrap ul li a .img-box {
    width: 29vw;
    height: 17vw
}

.content .content-wrap .news-wrap ul li a .content-box {
    padding: 2vw 2.5vw
}

.content .content-wrap .news-wrap ul li a .content-box .title {
    font-size: 1.vw;
    line-height: 2vw;
    margin-bottom: 1vw
}

.content .content-wrap .news-wrap ul li a .content-box .date {
    font-size: 1vw;
    line-height: 1vw
}
/* footer-start */
footer{
    background-color: var(--footer-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .upper-text{
    display: flex;
    justify-content: space-between;
    width: 82rem;
  }
  .left-container{
    display: flex;
    flex-direction: row;
  }
  .footer-attributes{
    width: 9rem;
    margin-right: 2rem;
    padding: 4rem 0;
  }
  .footer-attributes h4{
    color: white;
    padding-bottom: 1.5rem;
    font-weight: bold;
  }
  .footer-attributes a{
    color:var(--text-grey);
    transition: color .4s;
    font-weight: normal;
  }
  .footer-attributes a:hover{
    color:var(--vivo-blue);
  }
  .footer-attributes h5{
    line-height: 2rem;
  }
  .right-container {
    width: 18rem;
    padding-top: 4rem ;
  }
  
  .right-upper-msg-box {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .msg-link {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: var(--text-grey);
    height: 40px;
    transition: color 0.3s ease;
  }
  .msg-link:hover{
    color:var(--vivo-blue);
  }
  .msg-link:hover #common-path{
    fill: var(--vivo-blue);
  }
  
  .msg-link svg {
    height: 44%;
    width: 24px;
    margin-right: 8px;
  }
  .msg-link svg #common-path{
    fill:var(--text-grey);
    transition: color 0.3s ease;
  }
  
  .msg-link i {
    margin-right: 8px; 
    font-size: 20px;
  }
  .footer-msg-box {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: var(--text-grey);
    margin-bottom: 10px;
  }
  
  .footer-msg-box svg {
    height: 40px;
    width: 24px;
    margin-right: 8px; 
  }
  
  .footer-msg-box p {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer-msg-title {
    font-weight: normal; 
  }
  
  .footer-msg-tel {
    font-size: 24px; 
    color: white;
  }
  
  .icons-holder {
    display: flex;
    margin-top: 2rem;
  }
  
  .icons-holder svg {
    width: 24px;
    margin-right: 10px;
  }
  
  .social-icons-container {
    display: flex;
    flex-direction: column;
  }
  .social-icons-container p{
    font-size: 22px;
    color: var(--text-grey);
  }
  .social-icons {
    display: flex;
    flex-direction: row;
  }
  
  .social-icons svg {
    margin-top: 12px;
    width: 40px;
    height: 30px;
    margin-bottom: 3rem;
  }
  .social-icons svg:hover .blue-hover {
    fill: var(--vivo-blue); 
  }
  
  .social-icons svg:hover .white-hover  {
    fill: white;  
  }
  footer hr{
    width: 82rem;
    border-color:var(--text-grey);
  }
  .bottom-text {
    display: flex;
    justify-content: space-between;
    width: 82rem;
  }
  
  .bottom-text-1 {
    text-align: right;
    color: var(--text-grey);
    font-size: smaller;
    padding: 2rem 0;
  }
  
  .bottom-text-2 {
    text-align: left;
    color: var(--text-grey);
    display: flex;
    align-items: center;
  }
  .bottom-text-2 #p1{
    font-size: x-small;
    padding: 2px;
  }
  .bottom-text-2 span{
    font-size: 18px;
    overflow-y: hidden;
  }
  

@media screen and (max-width:1599px) and (min-width:769px) {
    .content .content-wrap .news-wrap ul li:first-of-type a .content-box {
        padding: 7vw 5vw
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .content-box .type {
        font-size: 1vw;
        line-height: 2vw;
        margin-bottom: 1vw
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .content-box .title {
        font-size: 2vw;
        line-height: 3vw;
        margin-bottom: 0
    }

    .content .content-wrap .news-wrap ul li:first-of-type a .content-box .date {
        font-size: 1vw;
        line-height: 2vw
    }
}



@media screen and (max-width:1199px) {
    .content .top-section .top-content-box {
        padding: 0 40px
    }

    .content .content-wrap {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media screen and (max-width:768px) {
    .content .top-section {
        height: 138vw
    }

    .content .top-section .top-img-box img {
        left: 0;

        transform: none;
        width: 100%;
        height: auto
    }

    .content .top-section .top-content-box {
        top: 75vw;
        padding: 0 20px
    }

    .content .top-section .top-content-box .title {
        font-size: 8vw;
        line-height: normal;
        margin-bottom: 2vw;
        max-width: none
    }

    .content .top-section .top-content-box .auxiliaryTitle {
        font-size: 3vw;
        line-height: 5vw;
        margin-bottom: 6vw;
        max-width: none
    }

    .content .content-wrap {
        margin-top: -10vw;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 11vw
    }

    .content .content-wrap .photo-wrap {
        width: 100vw;
        margin-left: -20px;
        padding-top: 100%;

        border-radius: 3vw
    }

    .content .content-wrap .photo-wrap .left-box {
        max-width: 81.6%;
        left: 9vw;
        top: 15vw
    }

    .content .content-wrap .photo-wrap .left-box img {
        height: 4vw;
        margin-bottom: 7vw
    }

    .content .content-wrap .photo-wrap .right-box {
        width: 100%
    }

    .content .content-wrap .photo-wrap .right-box img {
        width: 131%;

        transform: translate(-2vw, -5vw)
    }

    .content .content-wrap .news-wrap {
        margin-top: 23vw
    }

    .content .content-wrap .news-wrap .news-head {
        font-size: 3vw;
        line-height: 5vw
    }

    .content .content-wrap .news-wrap .news-head .news-title {
        font-size: 6vw;
        line-height: 8vw;
        margin-bottom: 1vw
    }

    .content .content-wrap .news-wrap .news-head .news-link {
        margin-top: 6vw
    }

    .content .content-wrap .news-wrap ul {
        margin-top: 11vw
    }

    .content .content-wrap .news-wrap ul li {

        border-radius: 3vw;
        width: 100%;
        margin-top: 5vw
    }

    .content .content-wrap .news-wrap ul li:first-of-type {
        margin-top: 0
    }

    .content .content-wrap .news-wrap ul li a {
        padding-top: 60%;

        border-radius: 3vw
    }

    .content .content-wrap .news-wrap ul li a .img-box {
        width: 89vw;
        height: 53vw
    }

    .content .content-wrap .news-wrap ul li a .content-box {
        padding: 5vw 6vw
    }

    .content .content-wrap .news-wrap ul li a .content-box .type {
        display: none
    }

    .content .content-wrap .news-wrap ul li a .content-box .title {
        font-size: 5vw;
        line-height: 6vw;
        margin-bottom: 1vw
    }

    .content .content-wrap .news-wrap ul li a .content-box .date {
        font-size: 3vw;
        line-height: 5vw
    }

}
@media (min-width: 1024px) and (max-width: 1440px) {
    .navbar {
      padding: 0 7rem;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    /* navbar */
    .navbar {
      padding: 0 1.5rem;
    }
    .sectionids-ul li a {
      font-size: 13px;
    }
    .logo-div svg{
      width: 70%;
    }
    .icon-div ul li svg {
      width: 19px; 
    }
    /* navbar */
    /* home-section */
  
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 3rem;
    }
    
    .logo-div {
      order: 1;
    }
    
    .icon-div {
      order: 3;
    }
    
    .sectionids {
      display: none;
      position: fixed;
      top: 100%; /* Position below the navbar */
      left: 0;
      width: 100%;
      height: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: auto;
      color: white;
    }
  
    #overlay {
      display: block;
      pointer-events: auto;
      visibility: visible;
    }
  
    .sectionids {
      font-size: 16px;
      color: white;
    }
  }
  